@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}





/* shared style */
main > section{
    margin-top: 100px;
}

.flex-cls {
    display: flex;
}






/* nav styles */
.navbar {
    justify-content: space-around;
    align-items: center;
}

nav>img {
    width: 25%;
    height: 25%;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.9;
    margin-right: 32px;
}

.nav-btn {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    background: linear-gradient(to right,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
    padding: 14px;
    border-radius: 50px;
    border: none;
    width: 145px;
    height: 45px;
}






/* banner styles */
.banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 760px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-img-div {
    min-width: 400px;
    min-height: 350px;
    background-image: url("../assets/hero-circle.png");
    background-repeat: no-repeat;
    background-position: center;

}

.banner-img-div>img {
    margin-top: 100px;
}

.banner-title {
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: 900;
    margin-bottom: 5px;
}

.banner-description {
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 15px;
    opacity: 0.8;
}

.spotify-btn {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    padding: 12px;
    border-radius: 40px;
    border: none;
    width: 200px;
    height: 45px;
    background: linear-gradient(to right,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
}

.subscribe-btn {
    color: #00FF88;
    font-size: 1rem;
    font-weight: 500;
    width: 148px;
    height: 45px;
    background: transparent;
    border: 1px solid #00FF88;
    border-radius: 30px;
    padding: 12px;
    margin-left: 5px;
}

.banner-circle{
    position: relative;
}
.banner-badge {
    color: #1A0B2E;
    font-size: 1.12rem;
    font-weight: 600;
    background: #00FF88;
    padding: 10px;
    width: 60px;
    height: 18px;
    position: absolute;
    top: 20px;
    right: 100px;
    border-radius: 1000px;
    border: none;
}




/* About section style */
.about-title{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
}
.about-description{
    color: #FFFFFF;
    text-align: center;
    opacity: 0.8;
}
.about-subtitle{
    color: #FFFFFF;
}


.rating-title{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 1000;
    margin-bottom: 16px;
}
.rating-subtitle{
   color: #FFFFFF;
   opacity: 0.8; 
}
.about-follower-div{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 130px;
    margin-bottom: 150px;
}






/* Techwave styles */

.techwave-title{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
}








/* Episodes styles */
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-left: 60px;
    margin-right: 30px;
    margin-bottom: 100px;
    
}
.episodes-card{
    max-width: 380px;
    min-height: 440px;
    padding: 10px;
    background-color: #250D44;
    border: none;
    border-radius: 25px;
}
.episodes-title{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 100px;
    
}
.card-title{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 12px;
    padding-left: 10px;
}
.card-description{
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 12px;
    padding-left: 10px;
    max-width: 340px;
}
.card-subtitle{
    color: #00FF88;
    font-weight: 500;
    padding-left: 10px;
}







/* host styles */
.host-container{
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 20px;
    max-width: 85%;
    min-height: 280px;
    margin-left: 90px;
    margin-bottom: 100px;
}
.host-img{
    padding-left: 40px;
}
.host-title{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
}
.host-name{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 16px;
}
.host-subtitle{
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 16px;
    max-width: 85%;
}
.social-icon i{
    background: linear-gradient(
        #F7E93F,
        #FB09B4,
        #9100F8
    );
    
}

.social-icon >a{
    border: 1px solid #533C72;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
}